<!DOCTYPE html>
<html>
<head>
	<title>Gunda | Let's talk music</title>
	<link rel="shortcut icon" href="images/gunda-logo.png"/>
	<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/material.min.css">
	<link rel="stylesheet" type="text/css" href="css/material-icons.css">
	<link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<style type="text/css">
		.new-releases .mdi-play{
			font-size:20px;
			height: 25px;
			width: 25px;
			line-height: 25px;
			text-align: center;
		}
		.right-menu a{
			padding: 6px 20px 6px;
			text-transform: uppercase;
			background:#fff;
			color: #333;
			float:right;
		}
		.logged-in{
			width: 80%;
			margin: 0 auto;
		}
		.name{
			font-size: 20px;
			color: #fff;
			padding-top: 30px;
			text-shadow: 1px 1px 1px #333;
		}
@media only screen and (max-width: 720px) {
		.name{
			padding-top: 10px;
		}
		.right-menu a{
			padding:6px;
		}
		.right-menu{
			padding:20px 0;
		}
}
	</style>
</head>
<body>

	<div class="entire-page">
		<div class="top-header">
			<div class="rows">
				<div class="col-md-3">
					<a href="index.html"><img src="images/gunda-logo.png" class="img-responsive" style="width: 80%;" /></a>
				</div>
				<div class="col-md-6 slogan">
					<h1>WE'RE MUSIC</h1>
				</div>
				<div class="col-md-3 search-page">
					<form>
						<div class="input-group">
							<input type="text" name="search" placeholder="Search" class="form-control"/>
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit" style="margin-top:30px; font-size:25px; height: 34px; padding-top: 0px; border-radius: 0; border-left:none !important; background: none; border:1px solid #aaa; color:#fff;"><i class="mdi mdi-magnify"></i></button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!--THIS IS THE START OF THE MENU BAR-->
		<nav class="navbar navbar-default main-header" role="navigation">
			<div class="mid-main-header">
			      <ul class="nav navbar-nav">
			         <li><a href="new.html" class="header-links">WHAT'S NEW</a></li>
			         <li><a href="{% url 'core:artists' %}" class="header-links">artists</a></li>
			         <li><a href="{% url 'core:playlist' %}" class="header-links">PLAYLIST</a></li>
			         <li><a href="{% url 'accounts:login' %}" class="header-links" style="border-right:0;">LOGIN</a></li>
			      </ul>
			</div>
		</nav>
		<!--THIS IS THE END OF THE MENU BAR-->
		<nav class="navbar navbar-default mobile-header" role="navigation">
		   <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" 
		         data-target="#example-navbar-collapse">
		         <span class="sr-only">Toggle navigation</span>
		         <span class="icon-bar"></span>
		         <span class="icon-bar"></span>
		         <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="index.html" style="padding-top: 0 !important;"><img src="images/gunda-logo.png" class="img-responsive" style="width: 100px;" margin-top:0;/></a>
		   </div>
		   <div class="collapse navbar-collapse" id="example-navbar-collapse">
			      <ul class="nav">
			         <li><a href="new.html" class="collapsed-header-links">WHAT'S NEW</a></li>
			         <li><a href="artists.html" class="collapsed-header-links">artists</a></li>
			         <li><a href="playlist.html" class="collapsed-header-links">PLAYLIST</a></li>
			         <li><a href="login.html" class="collapsed-header-links" style="border-right:0;">LOGIN</a></li>
			      </ul>
		   </div>
		</nav>

		<div class="jumbotron" style="padding: 20px; background:url(images/playlist.jpg); background-size: cover;">
			<div class="rows logged-in">
				<div class="col-md-1 col-sm-1 col-xs-3" style="padding: 0;">
					<img src="images/avatar3.jpg" class="img-circle img-responsive">
				</div>
				<div class="col-md-5 col-sm-5 col-xs-9 name">Kwizera Innocent</div>
				<div class="col-md-6 col-sm-6 col-xs-12 right-menu">
					<a href="">Upload</a>
					<a href="">playlist</a>
					<a href="">logout</a>
				</div>
			</div>
			<div class="free-0"></div>
		</div>

        <div class="container main-container">
        <div class="free-10"></div>
        <div class="rows">
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="rows new-releases">
	                <div class="col-md-4">
	                    <div class="col-md-2 col-sm-2 col-xs-2"><i class="mdi mdi-play"></i></div>
	                    <div class="col-md-8 col-sm-8 col-xs-8">Accelerator RMX <font>Brian Weiyz ft Maro</font></div>
	                    <hr/>
	                    <div class="col-md-2 col-sm-2 col-xs-2"><i class="mdi mdi-play"></i></div>
	                    <div class="col-md-8 col-sm-8 col-xs-8">Omuntu <font>Lydia Jazime ft Sheebah</font></div>
	                    <hr/>
	                    <div class="col-md-2 col-sm-2 col-xs-2"><i class="mdi mdi-play"></i></div>
	                    <div class="col-md-8 col-sm-8 col-xs-8">Sweet Love <font>Wizkid</font></div>
	                </div>
	                <div class="col-md-4">
	                    <div class="col-md-2 col-sm-2 col-xs-2"><i class="mdi mdi-play"></i></div>
	                    <div class="col-md-8 col-sm-8 col-xs-8">Accelerator RMX <font>Brian Weiyz ft Maro</font></div>
	                    <hr/>
	                    <div class="col-md-2 col-sm-2 col-xs-2"><i class="mdi mdi-play"></i></div>
	                    <div class="col-md-8 col-sm-8 col-xs-8">Omuntu <font>Lydia Jazime ft Sheebah</font></div>
	                    <hr/>
	                    <div class="col-md-2 col-sm-2 col-xs-2"><i class="mdi mdi-play"></i></div>
	                    <div class="col-md-8 col-sm-8 col-xs-8">Sweet Love <font>Wizkid</font></div>
	                </div>
	                <div class="col-md-4">
	                    <div class="col-md-2 col-sm-2 col-xs-2"><i class="mdi mdi-play"></i></div>
	                    <div class="col-md-8 col-sm-8 col-xs-8">Accelerator RMX <font>Brian Weiyz ft Maro</font></div>
	                    <hr/>
	                    <div class="col-md-2 col-sm-2 col-xs-2"><i class="mdi mdi-play"></i></div>
	                    <div class="col-md-8 col-sm-8 col-xs-8">Omuntu <font>Lydia Jazime ft Sheebah</font></div>
	                    <hr/>
	                    <div class="col-md-2 col-sm-2 col-xs-2"><i class="mdi mdi-play"></i></div>
	                    <div class="col-md-8 col-sm-8 col-xs-8">Sweet Love <font>Wizkid</font></div>
	                </div>


                </div>
                  <div class="free-20"></div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12" style="text-align: center;">
              
                <div class="col-md-3 col-sm-3 col-xs-6">DOWNLOADS<h5>30k</h5></div>
                <div class="col-md-3 col-sm-3 col-xs-6">TRACKS<h5>500</h5></div>
                <div class="col-md-3 col-sm-3 col-xs-6">FOLLOWERS<h5>500</h5></div>
                <div class="col-md-3 col-sm-3 col-xs-6">FOLLOWING<h5>60k</h5></div>
                <div class="free-20"></div>
                <a href="" class="btn btn-primary" style="width: 80%;">Share ob facebook</a>
                <div class="free-10"></div>
                <a href="" class="btn btn-info" style="width: 80%;">Share ob twitter</a>
            </div>
        </div>
        </div>


		<div class="free-50"></div>

		<!--this is the footer-->
		<footer class="footer">
			<div class="rows">
				<div class="col-md-5">
					&copy; Copyright 2017 Gunda All rights reserved<br/>
					<a href="">Terms and conditions</a>
				</div>

				<div class="col-md-7">
					Connect with us: &nbsp;&nbsp;&nbsp;&nbsp; 
					<font class="icons"><i class="mdi mdi-facebook"></i></font> 
					<font class="icons"><i class="mdi mdi-twitter"></i></font>
					<font class="icons"><i class="mdi mdi-instagram"></i></font>
				</div>
			</div>
		</footer>

    <footer class="mobile-footer">
      <div class="rows">
        <div class="col-md-5">
          &copy; Copyright 2017 Gunda All rights reserved<br/>
          <a href="">Terms and conditions</a>
          <div class="free-10"></div>
        </div>

        <div class="col-md-7">
          Connect with us<div class="free-10"></div> 
          <font class="icons"><i class="mdi mdi-facebook"></i></font> 
          <font class="icons"><i class="mdi mdi-twitter"></i></font>
          <font class="icons"><i class="mdi mdi-instagram"></i></font>
        </div>
      </div>
    </footer>
		
	</div>
	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/material.min.js"></script>
	<script type="text/javascript" src="js/wow.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>