{% extends 'core/base.html' %}
{% block content %}


		<div class="login-form">
			<div class="free-50"></div>
			<form method="post" action="{% url 'accounts:login' %}">
				{% csrf_token %}
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" style=""><i class="mdi mdi-account"></i></button>
						</span>
						<input type="text" name="username" placeholder="Username" class="form-control" style="background:#1E1F23; color:brown;" />
					</div>

					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" style=""><i class="mdi mdi-lock"></i></button>
						</span>
						<input type="password" name="password" placeholder="Password" class="form-control" style="background:#1E1F23; color:brown;" />
					</div>
					<input type="submit" name="" value="Sign in" class="btn btn-primary" style="background:#353638; color:#fff; border-radius: 3px; border:none; text-align: center; width: 100%; border-bottom:2px solid #B27D43 !important;">
					<div class="rows" style="margin-top:20px; clear: both;">
						<div class="col-md-6  col-sm-6 col-xs-6" style="padding-left: 0;"><input type="checkbox" name=""><font style="font-size:12px; margin-left:10px;">Remember Password</font></div>
						<div class="col-md-6 col-sm-6 col-xs-6"><a href="" style="color:#333; font-size:12px; float:right; padding-top: 3px;">Forgot Password</a></div>
						<div style="text-align: center; margin-top: 20px; clear: both; padding-top: 20px;">
							<a href="signup.html">Sign Up here</a>
						</div>
					</div>

					<div class="rows" style="margin-top:20px;">
						<div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0;">
							<button class="btn btn-primary" style="width: 100%;">Sign in with facebook</button>
						</div>
						<div class="free-10"></div>
						<div class="col-md-12  col-sm-12 col-xs-12" style="padding: 0;">
							<button class="btn btn-info" style="width: 100%;">Sign in with Twitter</button>
						</div>
						<div class="free-100"></div>
					</div>

			</form>
		</div>

{% endblock %}