{% extends 'core/base.html' %}
{% block content %}

		<div class="rows  edit-80 search-results" style="width:75%; margin:auto;">
		<h4>Search Results</h4>
			<div class="media">
			   <a class="pull-left" href="#">
			      <img class="media-object" src="images/artists/kenzo.jpg" alt="Media Object" style="width:40px; height: 40px;">
			   </a>
			   <div class="media-body">
			      <h6 class="media-heading">Eddie Kenzo</h6>
			      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. <a href="">More information</a>
			   </div>
			</div>
			<div class="media">
			   <a class="pull-left" href="#">
			      <img class="media-object" src="images/artists/rema.jpg" alt="Media Object" style="width:40px; height: 40px;">
			   </a>
			   <div class="media-body">
			      <h6 class="media-heading">Rema</h6>
			      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.<a href="">More information</a>
			   </div>
			</div>

		</div>


		<!--this is the footer-->
		<footer class="footer">
			<div class="rows">
				<div class="col-md-5">
					&copy; Copyright 2017 Gunda All rights reserved<br/>
					<a href="">Terms and conditions</a>
				</div>

				<div class="col-md-7">
					Connect with us: &nbsp;&nbsp;&nbsp;&nbsp; 
					<font class="icons"><i class="mdi mdi-facebook"></i></font> 
					<font class="icons"><i class="mdi mdi-twitter"></i></font>
					<font class="icons"><i class="mdi mdi-instagram"></i></font>
				</div>
			</div>
		</footer>

{% endblock %}