{% extends 'core/base.html' %}
{% block content %}



	<div class="container" style="width: 100%; padding: 0; margin: 0;">
		<div class="rows" style="width: 100%; padding:0;">
			<div class="col-md-6" style="background: -webkit-linear-gradient(rgba(181,126,67,.9), rgba(181,126,67,.9)), url('/static/core/images/sign-up.jpg'); background-size: cover; background-blend-mode: multiply; padding-left: 50px;">
				<div class="free-100 mobile-hide"></div>
				<div class="free-100"></div>
				<div class="free-100"></div>
				<h3 style="color:#fff;">GET FREE MUSIC<br/>ON GUNDA</h3>
				<div class="free-50"></div>
			</div>
			<div class="col-md-6">
				<div class="free-20"></div>
				<form class="sign-up-form" action="{% url 'accounts:sign_up' %}" method="post">{% csrf_token %}
				<h4 style="font-family: Roboto-Regular; text-transform: uppercase;">Create an account</h4>
					<label>Email Address</label>
					<input type="email" name="email" placeholder="Email" class="form-control"/>
					<label>Username</label>
					<input type="text" name="username" placeholder="Username" class="form-control"/>
					<label>Password</label>
					<input type="password" name="password1" placeholder="Password" class="form-control"/>
					<input type="password" name="password2" placeholder="Repeat Password" class="form-control"/>
					<input type="checkbox" name="is_artist">Is Artist? <br>
					<div class="free-10"></div>
					<input type="submit" name="" value="Create Account" class="btn btn-primary" style="background:#B57E43; color:#fff; border-radius: 3px; border:none; text-align: center; width: 60%; margin:auto !important; display: block; border-bottom:2px solid #B27D43 !important;">
					<div style="text-align: center; margin-top: 5px; clear: both;">
						<a href="{% url 'accounts:login' %}" style="color:#333;" class="already">Already have an account? Sign In</a>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}