/*
	WWW.SKOOLYNK.COM
	COPYRIGHT SKOOLYNK 2016 PRODUCT OF XAECIA
	AUTHOR: KWIZERA INNOCENT
	LAST EDIT: 11/5/2016
*/

	/*
	======================================THESE ARE THE STYLES FOR THE SLIDER ON THE INDEX PAGE OF SKOOLYNK============================================
	*/

#myCarousel{
  background:#EEEEEE;
}
.sliderMenu{
  width:75%;
  padding:5px;
  margin:auto;
}
.sliderMenu li a{
  background:none !important;
}
.sliderMenu li a h5{
  margin:0 !important;
  background:none;
}
.carousel-inner .item img{
  width:100%;
}
.carousel-inner .item{
  height: 400px !important;
  padding-top:0;
}
.carousel-inner .item .carousel-caption{
  margin-top:0 !important;
}

.carousel-caption{
  padding-bottom: 100px;
}

.carousel-caption h1{
  font-family: Roboto-Thin;
  font-size: 50px;
}
#myCarousel .nav a small
{
    display: block;
}
#myCarousel .nav
{
    background: #eee;
}
.nav-justified > li > a
{
    border-radius: 0px;
}
/*.nav-pills>li .active a { color:#286090 !important;}*/

.nav-pills>li[data-slide-to="0"].active a { background-color: #16a085; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #e67e22; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #2980b9; }
.nav-pills>li[data-slide-to="3"].active a { background-color: #8e44ad; }
 
.item-two{background:#68A4FE;} 
.item-three{background:#FF9900;} 
.item-four{background:#008C00;} 

