/*
	COPYRIGHT XAECIA ALL RIGHTS RESERVED, DESIGNED AND MAINTAINED BY XAECIA INC
	AUTHOR: KWIZERA INNOCENT
	DATE: TUE MARCH 14 2017;
*/


/*importing roboto fonts into the website*/
@font-face{
    font-family: Roboto-Thin;
    src:url(../fonts/Roboto-Thin.ttf);
    src:url(../fonts/Roboto-Thin.woff);
    src:url(../fonts/Roboto-Thin.eot);
    src:url(../fonts/Roboto-Thin.svg);
    src:url(../fonts/Roboto-Thin.otf);
}
@font-face{
    font-family: Roboto-Regular;
    src:url(../fonts/Roboto-Regular.ttf);
    src:url(../fonts/Roboto-Regular.woff);
    src:url(../fonts/Roboto-Regular.eot);
    src:url(../fonts/Roboto-Regular.svg);
    src:url(../fonts/Roboto-Regular.otf);
}

.free-0{clear:both; width:100%; height:0px; background:none;}
.free-10{clear:both; width:100%; height:10px; background:none;}
.free-20{clear:both; width:100%; height:20px; background:none;}
.free-30{clear:both; width:100%; height:30px; background:none;}
.free-40{clear:both; width:100%; height:40px; background:none;}
.free-50{clear:both; width:100%; height:50px; background:none;}
.free-60{clear:both; width:100%; height:60px; background:none;}
.free-70{clear:both; width:100%; height:70px; background:none;}
.free-80{clear:both; width:100%; height:80px; background:none;}
.free-90{clear:both; width:100%; height:90px; background:none;}
.free-100{clear:both; width:100%; height:100px; background:none;}

div::-webkit-scrollbar{background:lightblue; width:6px; }
div::-webkit-scrollbar-button{background:none;}
div::-webkit-scrollbar-track{background:#f1f1f1;}
div::-webkit-scrollbar-track-piece{background:#f1f1f1;}
div::-webkit-scrollbar-thumb{background:#aaa;  border-radius:20px;}
::-webkit-scrollbar{background:#fff; width:6px; }
::-webkit-scrollbar-button{background:none;}
::-webkit-scrollbar-track{background:#f7f7ff7;}
::-webkit-scrollbar-track-piece{background:#f7f7ff7;}
::-webkit-scrollbar-thumb{background:#888;  border-radius:20px;}

*{
	font-family: Roboto-Regular;
}

body{
    height:100vh;
	padding:0;
	margin:0;
    background:#F5F5F5;
	font-family: Roboto-Regular;
}

/*.entire-page{
    height:100vh;
    width:100%;
    overflow:auto;
    position:relative;
}*/

h1,h2,h3,h4,h5,h6{
	color:#B57F43;
}

.mobile-header{
    display: none;
}

.top-header{
    background:url('../images/header-background.jpg');
    background-size: cover;
    height: 150px;
    margin-bottom: 0 !important;
}

.news{
    position: relative;
    padding:0;
}

.news .click-on{
    position: absolute;
    bottom: 40px;
    background:#B57F43;
    font-size: 15px;
    color: #fff;
    border-top:10px solid rgba(255,255,255,.5);
    border-bottom:10px solid rgba(255,255,255,.5);
    border-radius: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.top-header .rows{
    width:80%;
    margin:auto;
    height:100px;
    /*background:rgba(253,253,253,.4);*/
}

.top-header .rows .col-md-3{
    padding-top:20px;
}

.slogan h1{
    font-size:30px !important;
    color:#B37D43;
    text-align: center;
    margin-top:50px;
}

.search-page .form-control{
    border-radius:0;
    margin-top:30px;
    border: 1px solid #aaa;
    border-right:none !important;
    background:none;
    color:#fff;
}

.main-header{
    padding:0 !important;
    border:none;
    width: 100%;
    text-align: center !important;
    background:none;
    margin: 0 !important;
    min-height: 0 !important;
    max-height: 0 !important;
}

.mid-main-header{
    border-radius:7px;
    border:none;
    padding:0 !important;
    background:none;
    display: inline-block !important;
    margin:0;
}


.navbar-nav{
    margin-top:-30px;
    border-radius: 3px !important;
    box-shadow: 1px 1px 2px #333;
    background: -webkit-linear-gradient(bottom, #1A1A1A, #555); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #1A1A1A, #555); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #1A1A1A, #555); /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom, #1A1A1A, #555); /* Standard syntax */
    border-top: 5px solid #222;
    position: relative;
    z-index: 20;
}

.navbar-nav::after{
    content: "";
    position: absolute;
    z-index: -1;
    background:rgba(181,127,67,.9);
    top: -7px;
    height: 2px;
    width: 95%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    left:10px;
}


.logged-mid-main-header{
    min-width: 40%;
    margin:auto;
    border-radius:7px;
    border:none;
}

.header-links{
    font-family: Arial;
    font-weight: bold;
    color:#ccc !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    text-transform: uppercase;
}

.header-links{
    border-right:1px solid #4C3D2D;
    font-size:11px;
    padding-right: 20px !important;
    padding-left: 20px !important;
}



/*THIS IS THE START FOR THE STYLES OF THE CONTAINER*/
.main-container{
    width: 80%;
    margin:30px auto !important;
    padding:0px;
}

.main-container .jumbotron{
    height: 180px;
    width: 98%;
    margin:0 auto;
    background:url('../images/top.jpg');
    filter: sepia(100%);
    background-size: cover;
    border-radius: 0;
    margin-bottom: 15px;
}

.one-artist{
    text-align: center;
    padding:5px;
}

.one-artist img{
    margin-bottom: 7px;
}

.one-artist a{
    width: 90%;
    margin: auto;
    text-transform: uppercase;
    line-height: 12px;
    font-size: 12px;
    border-radius:1px;
    background:#E6E6E6;
    display: block;
}

.music-list .rows{
    width:93%;
    margin: auto;
    position: relative;
}

.mdi-chevron-double-left , .mdi-chevron-double-right{
    font-size:50px;
    color:#aaa;
    position:absolute;
    z-index: 2000;
    top:30px;
}

.mdi-chevron-double-left{
    left:-50px;
}

.mobile-footer{
    display: none;
}
.footer{
    background:#0B060A;
    /*position: absolute;*/
/*    bottom: 0;
    left: 0;*/
    height: 69px;
    width: 100%;
    padding:15px;
    color: #aaa;
    clear: both;
}
.footer .rows{
    width: 80%;
    margin: auto;
}

.footer .col-md-7{
    text-align: right;
    padding-right: 0;
}


.footer .col-md-5 a{
    color: #ccc !important;
}

.footer .col-md-7 .icons{
    color:#333;
    background:#fff;
    line-height: 28px;
    font-size:16px;
    display: inline-block;
    text-align: center;
    height: 28px;
    width: 28px;
}

.my-footer{
    background:#0B060A;
    clear: both;
    bottom: 0;
    left: 0;
    height: 69px;
    width: 100%;
    padding:15px;
    color: #aaa;
}
.my-footer .rows{
    width: 80%;
    margin: auto;
}

.my-footer .col-md-7{
    text-align: right;
    padding-right: 0;
}


.my-footer .col-md-5 a{
    color: #ccc !important;
}

.my-footer .col-md-7 .icons{
    color:#333;
    background:#fff;
    line-height: 28px;
    font-size:16px;
    display: inline-block;
    text-align: center;
    height: 28px;
    width: 28px;
}



.player{
    background:#0B060A;
/*    position: absolute;
    bottom: 68px;
    left: 0;*/
    margin-top:15px;
    margin-bottom: 5px;
    width: 100%;
    padding:0;
    color: #aaa;
    clear: both;
}

.player .rows{
    width: 80%;
    margin: auto;
}

.avatar{
    filter:sepia(100%);
}

.login-form{
    width: 25%;
    margin:0 auto;
}

.login-form .input-group{
    margin-bottom: 10px;
    border-radius: 5px;
    border-bottom:2px solid #B27D43 !important;
}

.login-form .input-group .form-control{
    height:40px;
    border:none;
}

.login-form .names .form-control{
    height:40px;
    border:none;
    margin-bottom: 10px;
}

.login-form .input-group .btn{
    height: 40px;
    border:none;
    background:#353638;
    color:#B27D43;
    font-size: 17px;
}


.nav-tabs{
    border-bottom: none;
}

.nav-tabs li a{
    background:#B57F43;
    border:1px solid #B57F43 !important;
    color:#111;
    border-radius: 0;
    text-transform: uppercase;
    line-height: 11px;
    font-size: 12px;
    margin-bottom: 20px;
}


.vertical-nav{
    max-height: 250px;
    overflow: auto;
}
.vertical-nav li a{
    background:#ccc;
    display: inline-block;
    width: 100%;
    margin-bottom: 3px;
    color:#777;
    line-height: 12px;
    transition-property: color,background;
    transition-duration: .4s;
}

.vertical-nav li a:hover{
    background:#B57F43;
    color:#111;
}

.vertical-nav li a i{
    float:right;
    font-size: 20px;
    border:2px solid #777;
    border-radius:100%;
}

.top-ten .col-md-2{
    padding:3px;
}
.top-ten .col-md-2 img{
    height:120px;
    width: 100%;
}

.top-ten .col-md-2 .caption{
    background: #B57E43;
    color: #fff;
    padding:6px;
}


.playlist-list .col-md-2{
    padding:3px;
}

.logged-in-menu li a{
    padding:7px;
    color:#333;
    border-bottom: 1px solid #ccc;
}

.edit-form .form-control{
    border-radius: 0;
    box-shadow: none;
    margin-bottom:10px;
}

.audio-player{
    font-size:40px; 
    margin-top:10px; 
    text-align:center; 
    color: #787679 !important;
}

.audio-player a{
    color: #787679;
}

.audio-progress .progress{
    height:4px;
    border-radius: 0;
    margin-bottom: 0;
    background:#787679;
}

.audio-progress .progress-bar{
    background:#B4B4B4;
}

.currentTime{
    color:#aaa;
    font-size: 11px;
}

.duration{
    float:right;
    color:#B57F43;
    font-size: 11px;
}

.carousel-control{
    background: none !important;
}



@media only screen and (max-width: 720px) {
    body{
        height:100%;
    }
    .navbar-nav{
        display: none;
    }

    .mobile-navbar{
        display: block;
        border-bottom: none !important;
    }

    .main-header{
        display: none;
    }
    .main-container{
        width: 100% !important;
        margin:0px auto !important;
        padding:0px;
    }

    .slogan{
        display: none;
    }
    .top-header{
        display: none;
    }
    .mobile-header{
        display: block;
        margin-bottom: 0px;
        background:url('../images/header-background.jpg');
        border:none !important;
    }

.main-container .jumbotron{
        margin:0;
        padding:0;
        width: 100%;
    }
    
    .player{
        background:#0B060A;
        position: relative;
        clear: both;
        width: 100%;
        padding:10px 0 10px;
        bottom: 0;
        color: #aaa;
    }

    .player .rows{
        width: 100%;
        margin: auto;
    }

    .collapsed-header-links{
        font-size:12px;
        background:none !important;
        color:#EAC278;
        text-transform: uppercase;
    }

    .playlist-list {
        width: 70% !important;
        margin:30px auto;
    }

    .navbar-toggle{
        border:none;
        background:none !important;
    }

    .nav-tabs{
        width:100% !important;
    }
    .carousel-inner{
        width: 100%;
    }

    .login-form{
        width:90%;
        margin:70px auto;
    }

    .already{
        color:#fff !important;
    }

    .audio-name{
        width: 100%;
        margin:5px 0 5px;
    }

.mobile-footer{
    display: block;
    background:#0B060A;
    clear:both;
    padding:15px;
    text-align: center;
    color:#aaa;
    bottom: 0;
}

.mobile-footer .col-md-5 a{
    color: #ccc !important;
}

.mobile-footer .col-md-7 .icons{
    color:#333;
    background:#fff;
    line-height: 28px;
    font-size:16px;
    display: inline-block;
    text-align: center;
    height: 28px;
    width: 28px;
}

.footer, .my-footer{
    display: none;
}

.edit-80{
    width: 100% !important;
}

.upload{
    width:100% !important;
}

.sign-up-form{
    width: 100% !important; 
    margin:0 auto;
}

.mobile-hide{
    display: none;
}

.playlist-list{
    width: 100% !important; margin: auto; background: none;
}

.upload-form .form-control{
    width: 98% !important;
}










}  /*END OF THE MOBILE RESPONSIVE DESIGN STYLES*/



.search-results .media{
    border-bottom:1px solid #ddd;
    padding-bottom: 10px;
}

.search-results .media h6{
    color:#286090;
    margin-bottom: 5px;    
}

.music-cover{
    cursor: pointer;
}

.music-cover:hover{
    
}

.new-releases{
    width: 100%;
    padding: 0;
}
.new-releases hr{
    clear: both;
}
.new-releases .mdi{
    font-size:25px;
    color: #B57E43;
    border:2px solid #E0C8AF;
    border-radius: 100%;
    margin-right:4px;
    height: 35px;
    width: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
}
.new-releases .col-md-8{
    text-align: right;
}
.new-releases .col-md-8 font{
    font-size: 11px;
}

.letter-header{
    width: 100%;
    padding: 5px;
    background:#B57E43;
    text-align: justify !important;
}

.letter-header a{
    color:#fff;
    margin-right: 20px;
}

.sign-up-form .form-control{
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 15px;
}

.sign-up-form{
    width: 50%; margin:0 auto;
}

.playlists .col-md-2 .caption{
    margin-top: 3px;
    background:#ddd;
    color:#111;
    text-align: center;
    padding: 5px;
    font-size: 12px;
}

.playlists .col-md-2  img{
    /*height:120px;*/
    width: 100%;
}

.center{text-align: center;}

.check{
    margin-left: 30px;
}
.upload-form .form-control{
    border-radius:2px;
    margin-bottom: 10px;
    background: none;
    box-shadow: none;
}